# os
.DS_Store

# Python
*.pyc
__pycache__/

# Django
*.log
*.pot
db.sqlite3

# Conda
env/
*.conda

# Node.js
node_modules/
build/

# VSCode
.vscode/

# jetbrains
.idea/

.env

.venv/

# 内容审核风险记录
content_detection_risks.log
